.App {
  color: #333;
  border: 1px solid #aaa;
  border-radius: 4px;
  background: white;
  margin: 2em;
  padding: 0 1em;
  min-height: 38em;
  min-width: 32em;
  box-shadow: 0 0 1em hsla(0,0%,0%,0.15);
}

.App> .todoList> li:nth-child(even){
  background: teansparent;
}

.App> .todoList> li:nth-child(odd){
    background: rgba(211, 204, 204, 0.73);
  }
.list-title{
  padding: 20px 0;
  margin-bottom: 40px;
  width: 100%;
  color: #ECAE3B;
}
 

.tuichu:hover{
    color: #F1803E;
    opacity: 0.6;
}
.outdel{
    display: inline-block;
    margin-left: 220px; 
    
    
}