.TodoItem{
    padding: .5em;
    display: flex;
    align-items: center
}
.TodoItem>.title{
    flex-grow: 1;
    padding: .5em  .5em;
}
.TodoItem:hover  .delbtn{
    display: block;
}
.delbtn{
    display: none;
    width: 20px;
    height: 20px;
    border: none;
    font-size: 18px;
    color: #F1803E;
}